# Copy this file to .env and update values if necessary.

# Paths to the media libraries mounted into the containers.
AUDIOBOOKS_PATH="/Volumes/Media/Audiobooks"
BOOKS_PATH="/Volumes/Media/Books/CalibreApp"
COMICS_PATH="/Volumes/Media/Books/Comics"
MAGAZINES_PATH="/Volumes/Media/Books/Magazines"
MAIN_MUSIC_PATH="/Volumes/Media/Music/Main Library"
VIDEO_GAME_MUSIC_PATH="/Volumes/Media/Music/Video Games"

# Cloudflare Tunnel settings.
CLOUDFLARED_TUNNEL_ID="your-tunnel-id"
CLOUDFLARED_CREDENTIALS_FILENAME="your-tunnel-credentials.json"

# Karakeep environment variables
KARAKEEP_NEXTAUTH_SECRET="your-nextauth-secret"