http://jellyfin.mjjmedia.com {
	reverse_proxy host.docker.internal:8096
}

http://audiobooks.mjjmedia.com {
	reverse_proxy audiobookshelf:80
}

http://music.mjjmedia.com {
	reverse_proxy navidrome:4533
}

http://comics.mjjmedia.com {
	reverse_proxy komga:25600
}

http://books.mjjmedia.com {
	reverse_proxy calibre-web:8083
}

http://links.mjjmedia.com {
	reverse_proxy karakeep:3000
}

http://photos.mjjmedia.com {
	reverse_proxy immich-server:2283
}